<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musiquita</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<table class="table table-striped">
    <tr class="text-center">
       <th>Id</th><th>Nombre</th><th>Pais</th><th>Periodo</th><th>Descripcion</th><th></th><th><form method="GET" action="/" class="text-right">
        <button type="submit" class="btn btn-info">Home</button>
    </form></th>
    </tr>
 
    <% for (var i = 0; i < result.length; i++) { %>
     <tr class="text-center">
       <td><%= result[i].ID %></td>
       <td><%= result[i].Compositor %></td>
       <td><%= result[i].Pais %></td>
       <td><%= result[i].Periodo %></td>
       <td><%= result[i].Descripcion %></td>
       <td>
        <form method="GET" action="/view/edit/compositor/<%= result[i].ID %>">
          <button type="submit" class="btn btn-primary">Editar</button>
        </form>
      </td>
      <td>
        <form method="POST" action="/delete/compositor/<%= result[i].ID %>">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
     </tr>    
    <% } %>
 </table>
 
 </body>
</html>